.individual-galery {

    header {

        width: 100%;
        height: 35vh;

        @include bp(mobileBIG){
            height: 50vh;
        }

        @include bp(tablet){
            height: 55vh;
        }

        @include bp(tabletMD){
            height: 60vh;
        }

        @include bp(laptop){
            height: 63vh;
        }

        @include bp(laptopBIG){
            height: 65vh;
        }

        @include bp(escritorio){
            height: 60vh;
        }

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    main {

        display: flex;
        flex-flow: column;
        align-items: center;

        @include bp(mobileBIG){
            margin-top: rem(10px);
        }

        .content {

            margin-top: rem(15px);
            font-family: $font_quaternary;
            font-size: rem(15px);
            line-height: 22px;
            color: $terciary_color;

            @include bp(mobileBIG){
                font-size: rem(20px);
                line-height: rem(25px);
            }

            @include bp(tablet){
                font-size: rem(22px);
                line-height: rem(27px);
            }


            h2,
            h3,
            h4,
            h5,
            h6{
                font-family: $font_secundary;
                font-size: rem(30px);
                line-height: rem(30px);
                margin: rem(20px) 0px rem(10px) 0px;
                color: $secundary_color;

                @include bp(mobileBIG){
                    font-size: rem(45px);
                    line-height: rem(45px);
                }

                @include bp(tablet){
                    font-size: rem(50px);
                    line-height: rem(50px);
                }

                @include bp(tabletMD){
                    font-size: rem(52px);
                    line-height: rem(52px);
                }

                @include bp(laptop){
                    font-size: rem(55px);
                    line-height: rem(55px);
                }

                @include bp(escritorio){
                    font-size: rem(60px);
                    line-height: rem(60px);
                }

            }

            p,
            strong,
            em{

                margin-bottom: rem(20px);

                &:last-of-type{
                    margin-bottom: rem(0px);
                }
            }

        }

        .list {

            margin-top: rem(20px);
            width: 100%;

            @include bp(mobileBIG){
                margin-top: rem(30px);
            }

            .item.galery {

                padding-bottom: rem(0px);
                margin-bottom: rem(25px);
                border: none;

                @include bp(laptop){
                    padding-bottom: rem(0px);
                    margin-bottom: rem(30px);
                }

                @include bp(laptopBIG){
                    padding-bottom: rem(0px);
                    margin-bottom: rem(35px);
                }

                @include bp(escritorio){
                    padding-bottom: rem(0px);
                }

                .main {

                    margin-top: 0px;

                }

            }

            .item {

                display: flex;
                flex-flow: column;
                align-items: center;
                border-bottom: 1px solid $cuarto_color;
                padding-bottom: rem(40px);
                margin-bottom: rem(40px);

                @include bp(laptop){
                    padding-bottom: rem(60px);
                    margin-bottom: rem(60px);
                }

                @include bp(laptopBIG){
                    padding-bottom: rem(65px);
                    margin-bottom: rem(65px);
                }

                @include bp(escritorio){
                    padding-bottom: rem(70px);
                    margin-bottom: rem(70px);
                }

                &:last-of-type {

                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;

                }

                .header {

                    display: grid;
                    grid-template-columns: calc(60% - 10px) calc(40% - 10px);
                    grid-gap: 20px;
                    justify-items: center;
                    align-items: center;
                    position: relative;
                    width: 100%;

                    @include bp(mobileBIG){
                        width: 100%;
                    }

                    @include bp(tablet){
                        max-width: 550px;
                    }

                    @include bp(tabletMD){
                        max-width: 700px;
                    }

                    @include bp(laptop){
                        max-width: 850px;
                    }

                    @include bp(laptopBIG){
                        max-width: 900px;
                    }

                    @include bp(escritorio){
                        max-width: 1000px;
                    }

                    .title {

                        display: flex;
                        align-items: center;
                        column-gap: rem(15px);

                        @include bp(mobileBIG){
                            width: 100%;
                            justify-content: flex-end;
                        }

                        span {

                            font-size: rem(60px);
                            display: block;
                            font-family: $font_secundary;
                            color: $cuarto_color;

                            @include bp(mobileBIG){
                                font-size: rem(70px);
                            }

                            @include bp(tabletMD){
                                font-size: rem(85px);
                            }

                            @include bp(laptop){
                                font-size: rem(95px);
                            }

                            @include bp(laptopBIG){
                                font-size: rem(110px);
                            }

                            @include bp(escritorio){
                                font-size: rem(115px);
                            }

                        }

                        h3 {

                            font-family: $font_secundary;
                            font-size: rem(25px);
                            line-height: rem(25px);
                            text-wrap: balance;

                            @include bp(mobileBIG){
                                font-size: rem(30px);
                                line-height: rem(30px);
                            }

                            @include bp(tabletMD){
                                font-size: rem(40px);
                                line-height: rem(40px);
                            }

                            @include bp(laptop){
                                font-size: rem(50px);
                                line-height: rem(50px);
                            }

                            @include bp(laptopBIG){
                                font-size: rem(55px);
                                line-height: rem(55px);
                            }

                            @include bp(escritorio){
                                font-size: rem(60px);
                                line-height: rem(60px);
                            }

                        }

                    }

                    hr {

                        height: 100%;
                        width: 1px;
                        border: none;
                        background-color: $cuarto_color;
                        display: none;

                    }

                    .subtitle {

                        width: 100%;
                        // padding-left: 20px;

                        h4 {

                            font-size: rem(15px);
                            color: $terciary_color;
                            font-family: $font_quaternary;
                            line-height: rem(21px);
                            text-wrap: balance;
                            font-weight: 400;

                            @include bp(mobileBIG){
                                font-size: rem(17px);
                                line-height: rem(18px);
                            }

                            @include bp(tabletMD){
                                font-size: rem(19px);
                                line-height: rem(20px);
                            }

                            @include bp(laptop){
                                font-size: rem(21px);
                                line-height: rem(23px);
                            }

                            @include bp(escritorio){
                                font-size: rem(22px);
                                line-height: rem(24px);
                            }


    
                        }    

                    }

                }

                .main {

                    margin-top: rem(20px);
                    width: 100%;

                    .image {

                        width: 100%;
                        height: 35vh;
                        position: relative;
                        overflow: hidden;


                        @include bp(mobileBIG){
                            height: 50vh;
                        }

                        @include bp(tablet){
                            height: 55vh;
                        }

                        @include bp(tabletMD){
                            height: 60vh;
                        }

                        @include bp(laptop){
                            height: 63vh;
                        }

                        @include bp(laptopBIG){
                            height: 65vh;
                        }

                        @include bp(escritorio){
                            height: 60vh;
                        }

                        .title_absolute {

                            position: absolute;
                            bottom: 0px;
                            left: rem(15px);
                            z-index: 99;
                            width: calc(100% - rem(15px));

                            h2 {

                                text-wrap: balance;
                                margin: auto;
                                margin-bottom: rem(15px);
                                font-family: $font_secundary;
                                font-size: rem(25px);
                                line-height: rem(25px);
                                color: $principal_color;

                            @include bp(mobileBIG){
                                font-size: rem(30px);
                                line-height: rem(30px);
                            }

                            @include bp(tabletMD){
                                font-size: rem(40px);
                                line-height: rem(40px);
                            }

                            @include bp(laptop){
                                font-size: rem(50px);
                                line-height: rem(50px);
                            }

                            @include bp(laptopBIG){
                                font-size: rem(55px);
                                line-height: rem(55px);
                            }

                            @include bp(escritorio){
                                font-size: rem(60px);
                                line-height: rem(60px);
                            }
    
                            }

                        }

                        img {

                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }

                        span {

                            position: absolute;
                            right: 0px;
                            top: 0px;
                            background-color: $principal_color;
                            padding: rem(10px) rem(13px);
                            width: rem(75px);

                            @include bp(tablet){
                                width: rem(90px);
                            }

                            @include bp(laptop){
                                width: rem(110px);
                            }

                            @include bp(escritorio){
                                width: rem(115px);
                            }


                            img {
                                width: 100%;
                                height: 100%;
                                filter: brightness(0%);
                            }

                        }

                        button {

                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            display: flex;
                            column-gap: rem(10px);
                            justify-content: space-between;
                            align-items: center;
                            padding: rem(10px) rem(13px);
                            text-wrap: nowrap;
                            font-family: $font_secundary;
                            font-weight: 600;
                            font-size: rem(15px);
                            background-color: $principal_color;
                            border: 1px solid transparent;
                            color: $secundary_color;
                            transition: .2s ease;
                            cursor: pointer;

                            &:hover{

                                background-color: transparent;
                                border: 1px solid $principal_color;
                                color: $principal_color;

                            }

                            @include bp(mobileBIG){
                                font-size: rem(17px);
                            }

                            @include bp(tablet){
                                font-size: rem(18px);
                            }

                            @include bp(laptop){
                                font-size: rem(20px);
                            }

                            @include bp(escritorio){
                                font-size: rem(21px);
                            }

                            svg {

                                @include bp(mobileBIG){
                                    width: 20px;
                                    height: 20px;
                                }

                                @include bp(escritorio){
                                    width: 22px;
                                    height: 22px;
                                }

                            }

                        }

                        .ilustracion {

                            width: 100%;

                        }

                    }

                    .content {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: rem(15px);
                        margin: rem(30px) auto auto auto;

                        @include bp(tablet){
                            max-width: 550px;
                            margin: rem(40px) auto auto auto;
                        }

                        @include bp(tabletMD){
                            max-width: 700px;
                            margin: rem(50px) auto auto auto;
                        }

                        @include bp(laptop){
                            max-width: 850px;
                            margin: rem(55px) auto auto auto;
                        }

                        @include bp(laptopBIG){
                            max-width: 900px;
                        }

                        @include bp(escritorio){
                            max-width: 1000px;
                            margin: rem(60px) auto auto auto;
                        }

                        h5 {

                            margin-top: 0px;
                            display: inline-block;

                        }

                        .description,
                        .sinopsis {
                            display: inline-block;

                            strong {

                                background-color: $secundary_color;
                                padding: rem(5px);
                                color: $principal_color;
                                font-weight: 400;

                            }

                        }

                    }

                }

            }

        }

    }

}