nav.active{

    background-color: $secundary_color; 
    transform: translateY(20px);
    margin: 0px 15px;
    width: calc(100% - 70px);
    border-radius: 15px;
    padding: 15px 20px;

    @include bp(tablet){
        padding: 10px 0px;
        width: 100%;
        margin: auto;
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
        padding: 12px 0px;
    }

    @include bp(laptop){
        max-width: 1000px;
    }

    @include bp(laptopBIG){
        max-width: 1200px;
    }

    @include bp(escritorio){
        max-width: 1300px;
    }


    .logo{
        opacity: 1;
    }

    .show_menu_mobile{
        hr,
        &::after,
        &::before{
            background-color: $principal_color;
        }
    }

    .menu-header-menu-container{
        transform: translate(-16px, -21px);

        @include bp(tablet){
            transform: translate(0px, 0px);
        }
    }

}

nav {

    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
    width: calc(100% - 40px);
    padding: 20px;
    transform: translateY(0px);
    border-radius: 0px;

    @include bp(tablet){
        position: sticky;
        top: 0px;
        background: $secundary_color;
        padding: 15px 20px;
        justify-content: center;
        max-width: 100%;
        margin: auto;
    }


    .logo{
        opacity: 0;
        transition: .2s ease;
        color: $principal_color;

        @include bp(tablet){
            display: none;
        }

        #dulbecco_svg {

            height: rem(35px);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {

                height: rem(120px) !important;

                @include bp(mobileBIG){
                    height: rem(127px) !important;
                }

                path {

                    stroke: $principal_color;

                }

            }

            svg > g {
                transform: translateX(-15%);
            }

        }

    }

    #show_menu {
        display: none;
    }

    #show_menu:checked ~ .show_menu_mobile {

        transform: rotate3d(1, 1, 1, 360deg);
        mix-blend-mode: difference;

        @include bp(mobileBIG){
            mix-blend-mode: initial;
        }

        hr{
        
            opacity: 0;
    
        }

        &::before,
        &::after{
            background-color: $principal_color;

            @include bp(mobileBIG){
                background-color: $secundary_color;
            }

        }

        &::before {

            transform: translateY(rem(12.5px)) rotate(45deg);

        }

        &::after{
            transform: translateY(rem(-11.5px)) rotate(-45deg);
        }

    }

    #show_menu:checked ~ .menu-header-menu-container {
        
        pointer-events: initial;

        .menu_class {

            li.active {
                transition: .5s ease;
                opacity: 1;
                transform: translateX(0%);
            }

            &::before{ 

                background-color: $principal_color;


            }

            &::after{

                @supports (-webkit-touch-callout: none) {
                    transform: rotate(30deg) translateX(-90%);
                }
                  
                @supports not (-webkit-touch-callout: none) {
                    transform: rotate(26deg) translateX(-90%);    
                }

            }

        }

    }

    .show_menu_mobile.active{
        pointer-events: none;
    }

    .show_menu_mobile {

        cursor: pointer;
        z-index: 9999;
        width: rem(30px);
        height: rem(25px);
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        transform: rotate3d(1, 1, 1, 0deg);
        transition: 1s ease;

        @include bp(mobileBIG){
            mix-blend-mode: initial;
        }

        @include bp(tablet){
            display: none;
        }
        
        
        &::before,
        &::after{
            content: '';
            width: 100%;
            display: block;
            height: rem(2px);
            background-color: $secundary_color;
            transition: .5s ease;
            transform: translateY(rem(0px)) rotate(0deg);
            border-radius: 20px;

        }

        hr {

            border: none;
            width: 100%;
            height: rem(2px);
            background-color: $secundary_color;
            opacity: 1;
            transition: .5s ease;
            border-radius: 20px;

        }

    }

    .menu-header-menu-container {

        position: fixed;
        top: 0px;
        left: 0px;
        width: 100dvw;
        height: 100dvh;
        z-index: 99;
        pointer-events: none;
        transition: .4s ease;

        @include bp(tablet){
            position: relative;
            width: initial;
            height: initial;
            pointer-events: initial;
            display: flex;
            justify-content: center;
            padding: rem(0px);
        }

        ul {

            list-style: none;

        }

        .menu_class {

            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: rem(30px);
            list-style: none;

            &:hover {

                @include bp(tablet){

                    a {

                        opacity: 0.5;
    
                    }
                    
                }

            }

            @include bp(tablet){
                flex-flow: row;
                padding: rem(0px);
                width: fit-content;
            }

            &::before,
            &::after{
                
                content: "";
                position: absolute;
                top: 0%;
                left: 0%;
                z-index: -1;

                @include bp(tablet){
                    display: none;
                }

            }

            &::before{
                background: transparent;
                backdrop-filter: blur(0px);
                transition: .5s ease;
                width: 100%;
                height: 100%;
            }

            &::after{
                width: 200%;
                height: 200%;
                background: $secundary_color;
                transition: .7s ease;
                transform: rotate(30deg) translateX(-200%);
            }


            li {

                opacity: 0;
                transition: .2s ease;
                mix-blend-mode: difference;
                transform: translateX(-30%);
                width: 100%;
                color: $principal_color;

                &:last-of-type {
                    
                    @include bp(tablet){
                        &::after{
                            content:  "";
                            padding: 0px 0px;
                        }
                    }

                }

                @include bp(mobileBIG){
                    mix-blend-mode: initial;
                }

                @include bp(tablet){
                    opacity: 1;
                    transform: translateX(0%);
                    width: fit-content;
                    
                    &::after{
                        content:  "/";
                        padding: 0px rem(25px);
                        font-size: rem(20px);
                        font-family: $font_quaternary;
                    }

                }

                @include bp(tabletMD){
                    
                    &::after{
                        padding: 0px rem(30px);
                    }

                }

                @include bp(laptop){
                    
                    &::after{
                        padding: 0px rem(40px);
                    }

                }

                a {
                    
                    color: $principal_color;
                    text-decoration: none;
                    font-size: rem(27px);
                    font-family: $font_quaternary;
                    line-height: rem(45px);
                    position: relative;
                    opacity: 1;
                    transition: .5s ease;

                    @include bp(mobileBIG){
                        font-size: rem(30px);
                    }

                    @include bp(tablet){
                        font-size: rem(20px);
                    }

                    &:hover{

                        opacity: 1;

                        &::before {
                            padding-right: rem(5px);
                        }

                        &::after {
                            padding-left: rem(5px);
                        }
                    }
                    
                    &::before {
                        content: "(";
                        padding-right: rem(0px);
                        transition: .3s ease;
                    }

                    &::after {
                        content: ")";
                        padding-left: rem(0px);
                        transition: .3s ease;
                    }

                }

                .sub-menu {

                    height: 0px;
                    overflow: hidden;

                }

            }

        }

    }

}