@import './vars';
@import './components/nav';
@import './pages/home/header';
@import './components/load';
@import './pages/home/recent';
@import './pages/home/about';
@import './pages/home/education';
@import './pages/home/juournal';
@import './pages/home/book';
@import './pages/home/group'; 
@import './components/footer';
@import './pages/galery/index';
@import './pages/galery/indivual';
@import './components/accordeon';

*,
html,
body{
    padding: 0px;
    margin: 0px;
}

.letter {
    display: inline-block;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth; 
}

.responsive-box {

    max-width: calc(100% - 30px);

    @include bp(tablet){
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
    }

    @include bp(laptop){
        max-width: 1000px;
    }

    @include bp(laptopBIG){
        max-width: 1200px;
    }

    @include bp(escritorio){
        max-width: 1300px;
    }
}

.responsive-box-big {

    max-width: calc(100% - 30px);

    @include bp(tablet){
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
    }

    @include bp(laptop){
        max-width: 1100px;
    }

    @include bp(laptopBIG){
        max-width: 1250px;
    }

    @include bp(escritorio){
        max-width: 1600px;
    }
}

.subtitle {

    font-size: rem(40px);
    text-wrap: balance;

}
