@import './vars';
@import './components/nav';
@import './pages/home/header';
@import './components/load';
@import './pages/home/recent';

*,
html,
body{
    padding: 0px;
    margin: 0px;
}

html {
    scrollbar-gutter: stable;
}

body {
    height: 200vh;
}

.responsive-box {

    max-width: calc(100% - 30px);

    @include bp(tablet){
        max-width: 675px;
    }

    @include bp(tabletMD){
        max-width: 850px;
    }

    @include bp(laptop){
        max-width: 1000px;
    }

    @include bp(laptopBIG){
        max-width: 1200px;
    }

    @include bp(escritorio){
        max-width: 1300px;
    }
}

.subtitle {

    font-size: rem(40px);
    text-wrap: balance;

}
