@font-face {
  font-family: dmSans_italic;
  src: url(../../assets/fonts/DMSans-Italic.ttf);
}
@font-face {
  font-family: dmSans_variable;
  src: url(../../assets/fonts/DMSans-Variable.ttf);
}
@font-face {
  font-family: nanumGothicCodingBold;
  src: url(../../assets/fonts/NanumGothicCoding-Bold.ttf);
}
@font-face {
  font-family: nanumGothicCodingRegular;
  src: url(../../assets/fonts/NanumGothicCoding-Regular.ttf);
}
nav.active {
  background-color: #000000;
  transform: translateY(20px);
  margin: 0px 15px;
  width: calc(100% - 70px);
  border-radius: 15px;
  padding: 15px 20px;
}
@media (min-width: 700px) {
  nav.active {
    padding: 10px 0px;
    width: 100%;
    margin: auto;
    max-width: 675px;
  }
}
@media (min-width: 901px) {
  nav.active {
    max-width: 850px;
    padding: 12px 0px;
  }
}
@media (min-width: 1100px) {
  nav.active {
    max-width: 1000px;
  }
}
@media (min-width: 1220px) {
  nav.active {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  nav.active {
    max-width: 1300px;
  }
}
nav.active .logo {
  opacity: 1;
}
nav.active .show_menu_mobile hr, nav.active .show_menu_mobile::after, nav.active .show_menu_mobile::before {
  background-color: #ffffff;
}
nav.active .menu-header-menu-container {
  transform: translate(-16px, -21px);
}
@media (min-width: 700px) {
  nav.active .menu-header-menu-container {
    transform: translate(0px, 0px);
  }
}

nav {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  width: calc(100% - 40px);
  padding: 20px;
  transform: translateY(0px);
  border-radius: 0px;
}
@media (min-width: 700px) {
  nav {
    position: sticky;
    top: 0px;
    background: #000000;
    padding: 15px 20px;
    justify-content: center;
    max-width: 100%;
    margin: auto;
  }
}
nav .logo {
  opacity: 0;
  transition: 0.2s ease;
  color: #ffffff;
}
@media (min-width: 700px) {
  nav .logo {
    display: none;
  }
}
nav .logo #dulbecco_svg {
  height: 2.1875rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo #dulbecco_svg svg {
  height: 7.5rem !important;
}
@media (min-width: 550px) {
  nav .logo #dulbecco_svg svg {
    height: 7.9375rem !important;
  }
}
nav .logo #dulbecco_svg svg path {
  stroke: #ffffff;
}
nav .logo #dulbecco_svg svg > g {
  transform: translateX(-15%);
}
nav #show_menu {
  display: none;
}
nav #show_menu:checked ~ .show_menu_mobile {
  transform: rotate3d(1, 1, 1, 360deg);
  mix-blend-mode: difference;
}
@media (min-width: 550px) {
  nav #show_menu:checked ~ .show_menu_mobile {
    mix-blend-mode: initial;
  }
}
nav #show_menu:checked ~ .show_menu_mobile hr {
  opacity: 0;
}
nav #show_menu:checked ~ .show_menu_mobile::before, nav #show_menu:checked ~ .show_menu_mobile::after {
  background-color: #ffffff;
}
@media (min-width: 550px) {
  nav #show_menu:checked ~ .show_menu_mobile::before, nav #show_menu:checked ~ .show_menu_mobile::after {
    background-color: #000000;
  }
}
nav #show_menu:checked ~ .show_menu_mobile::before {
  transform: translateY(0.78125rem) rotate(45deg);
}
nav #show_menu:checked ~ .show_menu_mobile::after {
  transform: translateY(-0.71875rem) rotate(-45deg);
}
nav #show_menu:checked ~ .menu-header-menu-container {
  pointer-events: initial;
}
nav #show_menu:checked ~ .menu-header-menu-container .menu_class li.active {
  transition: 0.5s ease;
  opacity: 1;
  transform: translateX(0%);
}
nav #show_menu:checked ~ .menu-header-menu-container .menu_class::before {
  background-color: #ffffff;
}
@supports (-webkit-touch-callout: none) {
  nav #show_menu:checked ~ .menu-header-menu-container .menu_class::after {
    transform: rotate(30deg) translateX(-90%);
  }
}
@supports not (-webkit-touch-callout: none) {
  nav #show_menu:checked ~ .menu-header-menu-container .menu_class::after {
    transform: rotate(26deg) translateX(-90%);
  }
}
nav .show_menu_mobile.active {
  pointer-events: none;
}
nav .show_menu_mobile {
  cursor: pointer;
  z-index: 9999;
  width: 1.875rem;
  height: 1.5625rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transform: rotate3d(1, 1, 1, 0deg);
  transition: 1s ease;
}
@media (min-width: 550px) {
  nav .show_menu_mobile {
    mix-blend-mode: initial;
  }
}
@media (min-width: 700px) {
  nav .show_menu_mobile {
    display: none;
  }
}
nav .show_menu_mobile::before, nav .show_menu_mobile::after {
  content: "";
  width: 100%;
  display: block;
  height: 0.125rem;
  background-color: #000000;
  transition: 0.5s ease;
  transform: translateY(0rem) rotate(0deg);
  border-radius: 20px;
}
nav .show_menu_mobile hr {
  border: none;
  width: 100%;
  height: 0.125rem;
  background-color: #000000;
  opacity: 1;
  transition: 0.5s ease;
  border-radius: 20px;
}
nav .menu-header-menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  z-index: 99;
  pointer-events: none;
  transition: 0.4s ease;
}
@media (min-width: 700px) {
  nav .menu-header-menu-container {
    position: relative;
    width: initial;
    height: initial;
    pointer-events: initial;
    display: flex;
    justify-content: center;
    padding: 0rem;
  }
}
nav .menu-header-menu-container ul {
  list-style: none;
}
nav .menu-header-menu-container .menu_class {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1.875rem;
  list-style: none;
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class:hover a {
    opacity: 0.5;
  }
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class {
    flex-flow: row;
    padding: 0rem;
    width: fit-content;
  }
}
nav .menu-header-menu-container .menu_class::before, nav .menu-header-menu-container .menu_class::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class::before, nav .menu-header-menu-container .menu_class::after {
    display: none;
  }
}
nav .menu-header-menu-container .menu_class::before {
  background: transparent;
  backdrop-filter: blur(0px);
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}
nav .menu-header-menu-container .menu_class::after {
  width: 200%;
  height: 200%;
  background: #000000;
  transition: 0.7s ease;
  transform: rotate(30deg) translateX(-200%);
}
nav .menu-header-menu-container .menu_class li {
  opacity: 0;
  transition: 0.2s ease;
  mix-blend-mode: difference;
  transform: translateX(-30%);
  width: 100%;
  color: #ffffff;
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class li:last-of-type::after {
    content: "";
    padding: 0px 0px;
  }
}
@media (min-width: 550px) {
  nav .menu-header-menu-container .menu_class li {
    mix-blend-mode: initial;
  }
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class li {
    opacity: 1;
    transform: translateX(0%);
    width: fit-content;
  }
  nav .menu-header-menu-container .menu_class li::after {
    content: "/";
    padding: 0px 1.5625rem;
    font-size: 1.25rem;
    font-family: nanumGothicCodingRegular;
  }
}
@media (min-width: 901px) {
  nav .menu-header-menu-container .menu_class li::after {
    padding: 0px 1.875rem;
  }
}
@media (min-width: 1100px) {
  nav .menu-header-menu-container .menu_class li::after {
    padding: 0px 2.5rem;
  }
}
nav .menu-header-menu-container .menu_class li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6875rem;
  font-family: nanumGothicCodingRegular;
  line-height: 2.8125rem;
  position: relative;
  opacity: 1;
  transition: 0.5s ease;
}
@media (min-width: 550px) {
  nav .menu-header-menu-container .menu_class li a {
    font-size: 1.875rem;
  }
}
@media (min-width: 700px) {
  nav .menu-header-menu-container .menu_class li a {
    font-size: 1.25rem;
  }
}
nav .menu-header-menu-container .menu_class li a:hover {
  opacity: 1;
}
nav .menu-header-menu-container .menu_class li a:hover::before {
  padding-right: 0.3125rem;
}
nav .menu-header-menu-container .menu_class li a:hover::after {
  padding-left: 0.3125rem;
}
nav .menu-header-menu-container .menu_class li a::before {
  content: "(";
  padding-right: 0rem;
  transition: 0.3s ease;
}
nav .menu-header-menu-container .menu_class li a::after {
  content: ")";
  padding-left: 0rem;
  transition: 0.3s ease;
}
nav .menu-header-menu-container .menu_class li .sub-menu {
  height: 0px;
  overflow: hidden;
}

header.home {
  height: 100dvh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 700px) {
  header.home {
    height: calc(100dvh - 4.6875rem);
  }
}
header.home .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
@media (min-width: 700px) {
  header.home .background {
    transform: translateY(-4.6875rem);
  }
}
header.home .background .blur {
  width: 100%;
  height: 100%;
  position: relative;
}
header.home .background .blur::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5607843137);
}
header.home .background .blur video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) -40%, transparent);
}
header.home .background .blur video::before {
  content: "Hola";
}
header.home .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header.home .content .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
header.home .content .logo span {
  display: none;
  font-size: 1.5625rem;
  font-family: dmSans_variable;
  font-weight: bold;
}
@media (min-width: 700px) {
  header.home .content .logo span {
    display: block;
  }
}
@media (min-width: 901px) {
  header.home .content .logo span {
    font-size: 1.6875rem;
  }
}
@media (min-width: 1100px) {
  header.home .content .logo span {
    font-size: 1.75rem;
  }
}
@media (min-width: 1600px) {
  header.home .content .logo span {
    font-size: 1.875rem;
  }
}
header.home .content .logo #svg_header.light svg path {
  stroke: #000000 !important;
  transition: 0.4s ease;
}
header.home .content .logo #svg_header {
  overflow: hidden;
  z-index: 999999;
}
@media (min-width: 550px) {
  header.home .content .logo #svg_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
  }
}
@media (min-width: 700px) {
  header.home .content .logo #svg_header {
    height: 14.375rem;
  }
}
@media (min-width: 901px) {
  header.home .content .logo #svg_header {
    height: 15.625rem;
  }
}
@media (min-width: 1100px) {
  header.home .content .logo #svg_header {
    height: 16.875rem;
  }
}
@media (min-width: 1220px) {
  header.home .content .logo #svg_header {
    height: 17.5rem;
  }
}
@media (min-width: 1600px) {
  header.home .content .logo #svg_header {
    height: 18.75rem;
  }
}
header.home .content .logo #svg_header svg path {
  stroke: #ffffff !important;
}
@media (min-width: 550px) {
  header.home .content .logo #svg_header svg {
    height: 31.25rem !important;
    width: auto !important;
  }
}
@media (min-width: 700px) {
  header.home .content .logo #svg_header svg {
    height: 37.5rem !important;
  }
}
@media (min-width: 901px) {
  header.home .content .logo #svg_header svg {
    height: 43.75rem !important;
  }
}
@media (min-width: 1100px) {
  header.home .content .logo #svg_header svg {
    height: 46.875rem !important;
  }
}
@media (min-width: 1220px) {
  header.home .content .logo #svg_header svg {
    height: 50rem !important;
  }
}
@media (min-width: 1600px) {
  header.home .content .logo #svg_header svg {
    height: 56.25rem !important;
  }
}
header.home .content ul {
  z-index: 1;
  margin-bottom: 1.25rem;
  list-style: none;
  display: flex;
  row-gap: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700px) {
  header.home .content ul {
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 901px) {
  header.home .content ul {
    font-size: 1.4375rem;
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 1100px) {
  header.home .content ul {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1220px) {
  header.home .content ul {
    font-size: 1.5625rem;
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 1100px) {
  header.home .content ul {
    font-size: 1.625rem;
  }
}
header.home .content ul li p {
  font-size: 1.3125rem;
  font-family: nanumGothicCodingBold;
}
@media (min-width: 550px) {
  header.home .content ul li p {
    font-size: 1.4375rem;
  }
}
@media (min-width: 700px) {
  header.home .content ul li p {
    font-size: 1.3125rem;
  }
}
@media (min-width: 901px) {
  header.home .content ul li p {
    font-size: 1.4375rem;
  }
}
@media (min-width: 1100px) {
  header.home .content ul li p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1220px) {
  header.home .content ul li p {
    font-size: 1.5625rem;
  }
}
@media (min-width: 1100px) {
  header.home .content ul li p {
    font-size: 1.625rem;
  }
}
header.home .content ul li p.barra::before {
  content: "\\\\";
  margin-right: 10px;
}
header.home .content ul li p.barra::after {
  content: "//";
  margin-left: 10px;
}
header.home .content ul li p.llaves::before {
  content: "{";
  margin-right: 10px;
}
header.home .content ul li p.llaves::after {
  content: "}";
  margin-left: 10px;
}

.load_page.remove {
  opacity: 0;
  pointer-events: none;
}

.load_page {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100dvw - 40px);
  height: calc(100dvh - 40px);
  background-color: #333333;
  z-index: 9999;
  display: flex;
  align-items: flex-end;
  padding: 1.25rem;
  opacity: 1;
  transition: 0.5s ease;
}
.load_page .box.remove {
  opacity: 0;
}
.load_page .box {
  display: flex;
  column-gap: 0.625rem;
  height: 4.375rem;
  overflow: hidden;
  opacity: 1;
  transition: 0.5s ease;
}
@media (min-width: 550px) {
  .load_page .box {
    height: 4.6875rem;
  }
}
@media (min-width: 700px) {
  .load_page .box {
    height: 5rem;
  }
}
@media (min-width: 700px) {
  .load_page .box {
    height: 5.3125rem;
  }
}
@media (min-width: 1100px) {
  .load_page .box {
    height: 5.625rem;
  }
}
@media (min-width: 1600px) {
  .load_page .box {
    height: 5.9375rem;
  }
}
.load_page .box div {
  transition: 0.2s ease;
}
.load_page .box div .item {
  height: 100%;
  font-size: 4.375rem;
  font-family: nanumGothicCodingBold;
  font-weight: bold;
  color: #ffffff;
}
@media (min-width: 550px) {
  .load_page .box div .item {
    font-size: 4.6875rem;
  }
}
@media (min-width: 700px) {
  .load_page .box div .item {
    font-size: 5rem;
  }
}
@media (min-width: 901px) {
  .load_page .box div .item {
    font-size: 5.3125rem;
  }
}
@media (min-width: 1100px) {
  .load_page .box div .item {
    font-size: 5.625rem;
  }
}
@media (min-width: 1600px) {
  .load_page .box div .item {
    font-size: 5.9375rem;
  }
}

.recent_proyect h2 {
  margin: 1.25rem auto 1.25rem auto;
  text-align: center;
  font-family: dmSans_variable;
  font-weight: bold;
  font-size: 1.5625rem;
}
@media (min-width: 550px) {
  .recent_proyect h2 {
    font-size: 1.875rem;
    margin: 1.25rem auto 1.5625rem auto;
  }
}
@media (min-width: 700px) {
  .recent_proyect h2 {
    font-size: 2.1875rem;
    margin: 1.25rem auto 1.875rem auto;
  }
}
@media (min-width: 901px) {
  .recent_proyect h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1.25rem auto 2.1875rem auto;
  }
}
@media (min-width: 1100px) {
  .recent_proyect h2 {
    font-size: 2.8125rem;
    margin: 1.25rem auto 2.5rem auto;
  }
}
@media (min-width: 1220px) {
  .recent_proyect h2 {
    font-size: 2.9375rem;
    margin: 1.25rem auto 2.75rem auto;
  }
}
@media (min-width: 1600px) {
  .recent_proyect h2 {
    font-size: 3.125rem;
    margin: 1.25rem auto 3.125rem auto;
  }
}
.recent_proyect .proyect_slider {
  position: relative;
}
.recent_proyect .proyect_slider::before, .recent_proyect .proyect_slider::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 10%;
  height: 100%;
  z-index: 999;
  background-color: white;
}
.recent_proyect .proyect_slider::before {
  left: 0px;
  mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, transparent);
}
.recent_proyect .proyect_slider::after {
  right: 0px;
  mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, transparent);
}
.recent_proyect .proyect_slider swiper-slide:hover .img {
  user-select: none;
}
.recent_proyect .proyect_slider swiper-slide:hover .img img {
  transform: scale(1.05);
}
.recent_proyect .proyect_slider swiper-slide:hover .content button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.recent_proyect .proyect_slider .proyectItem {
  text-decoration: none;
}
.recent_proyect .proyect_slider .proyectItem .img {
  width: 100%;
  height: 18.75rem;
  overflow: hidden;
}
@media (min-width: 550px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 21.875rem;
  }
}
@media (min-width: 700px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 15.625rem;
  }
}
@media (min-width: 901px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 15.625rem;
  }
}
@media (min-width: 1100px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 12.5rem;
  }
}
@media (min-width: 1220px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 18.75rem;
  }
}
@media (min-width: 1600px) {
  .recent_proyect .proyect_slider .proyectItem .img {
    height: 15.625rem;
  }
}
.recent_proyect .proyect_slider .proyectItem .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
  transform: scale(1);
}
.recent_proyect .proyect_slider .proyectItem .content {
  display: flex;
  flex-flow: row;
  align-items: center;
  column-gap: 0.625rem;
  margin-top: 0.625rem;
  justify-content: space-between;
}
@media (min-width: 550px) {
  .recent_proyect .proyect_slider .proyectItem .content {
    margin-top: 0.9375rem;
  }
}
@media (min-width: 1100px) {
  .recent_proyect .proyect_slider .proyectItem .content {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1600px) {
  .recent_proyect .proyect_slider .proyectItem .content {
    margin-top: 1.5625rem;
  }
}
.recent_proyect .proyect_slider .proyectItem .content h3 {
  text-wrap: balance;
  font-family: dmSans_variable;
  font-size: 1.25rem;
  color: #000000;
}
@media (min-width: 550px) {
  .recent_proyect .proyect_slider .proyectItem .content h3 {
    font-size: 1.4375rem;
  }
}
@media (min-width: 700px) {
  .recent_proyect .proyect_slider .proyectItem .content h3 {
    font-size: 1.5625rem;
  }
}
@media (min-width: 1100px) {
  .recent_proyect .proyect_slider .proyectItem .content h3 {
    font-size: 1.6875rem;
  }
}
@media (min-width: 1220px) {
  .recent_proyect .proyect_slider .proyectItem .content h3 {
    font-size: 1.5625rem;
  }
}
@media (min-width: 1600px) {
  .recent_proyect .proyect_slider .proyectItem .content h3 {
    font-size: 1.875rem;
  }
}
.recent_proyect .proyect_slider .proyectItem .content button {
  text-wrap: nowrap;
  font-family: nanumGothicCodingRegular;
  text-decoration: none;
  font-size: 1.0625rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.4375rem 0.75rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;
}
@media (min-width: 1100px) {
  .recent_proyect .proyect_slider .proyectItem .content button {
    font-size: 1.1875rem;
  }
}
@media (min-width: 1220px) {
  .recent_proyect .proyect_slider .proyectItem .content button {
    font-size: 1.25rem;
  }
}

.box-about-home {
  margin: 1.25rem auto 1.25rem auto;
}
@media (min-width: 550px) {
  .box-about-home {
    margin: 1.875rem auto 2.5rem auto;
  }
}
@media (min-width: 700px) {
  .box-about-home {
    margin: 2.1875rem auto 2.5rem auto;
  }
}
@media (min-width: 901px) {
  .box-about-home {
    margin: 2.5rem auto 2.5rem auto;
  }
}
@media (min-width: 1100px) {
  .box-about-home {
    margin: 2.8125rem auto 2.5rem auto;
  }
}
@media (min-width: 1220px) {
  .box-about-home {
    margin: 3.125rem auto 2.5rem auto;
  }
}
@media (min-width: 1600px) {
  .box-about-home {
    margin: 3.4375rem auto 2.5rem auto;
  }
}
.box-about-home h2 {
  margin: 1.25rem auto 1.25rem auto;
  text-align: center;
  font-family: dmSans_variable;
  font-weight: bold;
  font-size: 2.1875rem;
}
.box-about-home h2::after, .box-about-home h2::before {
  font-size: 3.75rem;
  display: inline-block;
  transform: translateY(5px);
}
@media (min-width: 550px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 4.375rem;
  }
}
@media (min-width: 700px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 5rem;
  }
}
@media (min-width: 901px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 5.625rem;
  }
}
@media (min-width: 1100px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 6.25rem;
  }
}
@media (min-width: 1220px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 6.875rem;
  }
}
@media (min-width: 1600px) {
  .box-about-home h2::after, .box-about-home h2::before {
    font-size: 7.5rem;
  }
}
.box-about-home h2::before {
  content: "{";
  margin-right: 0.9375rem;
}
.box-about-home h2::after {
  content: "}";
  margin-left: 0.9375rem;
}
@media (min-width: 550px) {
  .box-about-home h2 {
    font-size: 2.8125rem;
    margin: 0rem auto 1.5625rem auto;
  }
}
@media (min-width: 700px) {
  .box-about-home h2 {
    font-size: 3.4375rem;
    margin: 0rem auto 1.875rem auto;
  }
}
@media (min-width: 901px) {
  .box-about-home h2 {
    font-size: 4.0625rem;
    margin: 0rem auto 2.1875rem auto;
  }
}
@media (min-width: 1100px) {
  .box-about-home h2 {
    font-size: 4.6875rem;
    margin: 0rem auto 2.5rem auto;
  }
}
@media (min-width: 1220px) {
  .box-about-home h2 {
    font-size: 5.3125rem;
    margin: 0rem auto 2.75rem auto;
  }
}
@media (min-width: 1600px) {
  .box-about-home h2 {
    font-size: 5.9375rem;
    margin: 0rem auto 3.125rem auto;
  }
}
.box-about-home .content {
  font-size: 1.125rem;
  color: #333333;
  text-wrap: balance;
  font-family: nanumGothicCodingRegular;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center !important;
}
@media (min-width: 550px) {
  .box-about-home .content {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 700px) {
  .box-about-home .content {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
}
@media (min-width: 1100px) {
  .box-about-home .content p {
    text-align: left !important;
  }
}

.box-education-home {
  margin: 0rem auto 2.5rem auto;
}
@media (min-width: 550px) {
  .box-education-home {
    margin: 1.875rem auto 2.5rem auto;
  }
}
@media (min-width: 700px) {
  .box-education-home {
    margin: 2.1875rem auto 2.5rem auto;
  }
}
@media (min-width: 901px) {
  .box-education-home {
    margin: 2.5rem auto 2.5rem auto;
  }
}
@media (min-width: 1100px) {
  .box-education-home {
    margin: 2.8125rem auto 2.5rem auto;
  }
}
@media (min-width: 1220px) {
  .box-education-home {
    margin: 3.125rem auto 2.5rem auto;
  }
}
@media (min-width: 1600px) {
  .box-education-home {
    margin: 3.4375rem auto 2.5rem auto;
  }
}
.box-education-home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0px 1.25rem 0px;
}
@media (min-width: 550px) {
  .box-education-home .header {
    margin: 0rem 0px 2.5rem 0px;
  }
}
.box-education-home .header button {
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}
.box-education-home .header button:hover {
  background-color: #000000;
  border: 2px solid #ffffff;
}
.box-education-home .header button:hover svg {
  color: #ffffff;
}
@media (min-width: 700px) {
  .box-education-home .header button {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 901px) {
  .box-education-home .header button {
    width: 80px;
    height: 80px;
    border: 3px solid #000000;
  }
}
@media (min-width: 1100px) {
  .box-education-home .header button {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 1220px) {
  .box-education-home .header button {
    width: 100px;
    height: 100px;
    border: 4px solid #000000;
  }
}
@media (min-width: 1600px) {
  .box-education-home .header button {
    width: 110px;
    height: 110px;
  }
}
@media (min-width: 700px) {
  .box-education-home .header button svg {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 901px) {
  .box-education-home .header button svg {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 1100px) {
  .box-education-home .header button svg {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1220px) {
  .box-education-home .header button svg {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1600px) {
  .box-education-home .header button svg {
    width: 90px;
    height: 90px;
  }
}
.box-education-home .header h2 {
  font-family: dmSans_variable;
  font-weight: bold;
  font-size: 2.1875rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0px 0.9375rem;
}
@media (min-width: 550px) {
  .box-education-home .header h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 700px) {
  .box-education-home .header h2 {
    font-size: 2.8125rem;
  }
}
@media (min-width: 901px) {
  .box-education-home .header h2 {
    font-size: 3.125rem;
  }
}
@media (min-width: 1100px) {
  .box-education-home .header h2 {
    font-size: 3.4375rem;
  }
}
@media (min-width: 1220px) {
  .box-education-home .header h2 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1600px) {
  .box-education-home .header h2 {
    font-size: 4.0625rem;
  }
}
.box-education-home .content {
  font-size: 1.125rem;
  color: #333333;
  text-wrap: balance;
  font-family: nanumGothicCodingRegular;
  font-weight: 500;
  line-height: 1.875rem;
}
@media (min-width: 550px) {
  .box-education-home .content {
    font-size: 1.25rem;
  }
}
@media (min-width: 700px) {
  .box-education-home .content {
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}
.box-education-home .content strong {
  font-weight: 600;
  margin-right: 10px;
}
@media (min-width: 550px) {
  .box-education-home .content strong {
    margin-right: 15px;
  }
}
@media (min-width: 700px) {
  .box-education-home .content strong {
    margin-right: 20px;
  }
}
.box-education-home .content ul {
  list-style: none;
}
.box-education-home .content ul li {
  margin-bottom: 1.25rem;
}
.box-education-home .content em {
  background-color: #000000;
  color: #ffffff;
  padding: 3px 5px;
}

*,
html,
body {
  padding: 0px;
  margin: 0px;
}

html {
  scrollbar-gutter: stable;
}

.responsive-box {
  max-width: calc(100% - 30px);
}
@media (min-width: 700px) {
  .responsive-box {
    max-width: 675px;
  }
}
@media (min-width: 901px) {
  .responsive-box {
    max-width: 850px;
  }
}
@media (min-width: 1100px) {
  .responsive-box {
    max-width: 1000px;
  }
}
@media (min-width: 1220px) {
  .responsive-box {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .responsive-box {
    max-width: 1300px;
  }
}

.subtitle {
  font-size: 2.5rem;
  text-wrap: balance;
}

/*# sourceMappingURL=global.css.map */
